/* *{
    color: crimson;
}


p { 
    color: black;

} 
button{
    color: blue;
    background-color: black;
}
body{
    background-color:rgb(137, 45, 217);
}
#headingThree { 
    color: black;
}
 */

 div{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 2px dotted blue;
    border-radius: 10%;
    color: aqua;
    text-align: center;
}

