*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;

}
.nav-logo{

}
.logo{
    background-image: url(C:\Users\91750\Desktop\learing html\css\amazon project\amazon-6536326_1280.png);
}